<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script>
(function($) {
	$('.slimmenu').slimmenu(
	{
	    resizeWidth: '800',
	    collapserTitle: '<a>Main Menu</a>',
	    animSpeed:'medium',
	    indentChildren: true,
	    childrenIndenter: '&raquo;'
	});
}) (jQuery);
</script>